# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# Other
.directory
*.lo
.deps
.libs
*.la
*.sdf
Makefile
autom4te.cache
libtool
config.log
config.status
stamp-h1
mapedit
Thumbs.db
bin/Release
bin/Debug
bin/LCUI-2DmapEditor.pdb
