# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

.directory
*.lo
.deps
.libs
*.la
Makefile
autom4te.cache
lcui.pc
libtool
config.log
config.status
stamp-h1
mapedit

